* {
	color: #fff;
	font-family: 'Poppins', sans-serif;
}

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background-color: #111;
	transition: background-color 300ms ease;
}

#beat-visualiser {
	position: absolute;
	pointer-events: none;
	opacity: 0.8;
}

#audio-visualiser {
	position: absolute;
	pointer-events: none;
	opacity: 0.5;
}

#game {
	/* border: 1px solid #777; */
	opacity: 0.8;
}

#fps-counter {
	position: absolute;
	top: 0;
	left: 0;
	margin: 1em;
	font-family: 'Source Code Pro', monospace;
	font-weight: 600;
	font-size: 1.5em;
}

#score-counter {
	position: absolute;
	top: 0;
	right: 0;
	margin: 1em;
	font-family: 'Source Code Pro', monospace;
	font-weight: 600;
	font-size: 1.5em;
}

#song-details {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	flex-direction: column;
}

#song-title {
	font-size: 2em;
	margin-bottom: 0;
}

#song-time {
	font-family: monospace;
	font-size: 1.5em;
	text-align: center;
}

#song-progress-container {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 1vh;
	width: 100vw;
}

#song-progress {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 1vh;
	width: 100vw;
	transform: translateX(-100%);
	opacity: 0.5;
	background-color: #444;
}

#break {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	opacity: 1;
	visibility: visible;
	transition: opacity 1s ease, visibility 1s;
}

#break-seconds {
	font-family: 'Source Code Pro', monospace;
	font-weight: 600;
	font-size: 1.5em;
	margin-bottom: 1em;
}

#break-progress-container {
	position: relative;
	height: 1vh;
	width: 50vw;
	overflow: hidden;
	background-color: rgba(50, 50, 50, 0.2);
}

#break-progress {
	position: absolute;
	top: 0;
	left: 0;

	height: 1vh;
	width: 50vw;
	overflow: hidden;

	transform: translateX(-100%);
	background-color: rgba(50, 50, 50, 0.4);
}

#ending-screen {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	background-color: rgba(0, 0, 0, 0.7);
	opacity: 1;
	visibility: visible;
	transition: opacity 2s ease, visibility 2s;
}

#ending-screen .stats {
	font-weight: 600;
	margin-bottom: 2em;
}

#ending-screen .stats table .right {
	text-align: right;
	padding-left: 2em;
	font-family: 'Source Code Pro', monospace;
}

#loading-screen {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	background-color: #111;
	opacity: 1;
	visibility: visible;
	transition: opacity 300ms ease, visibility 300ms;
}

#menu {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	background-color: rgba(0, 0, 0, 0.5);
	opacity: 1;
	visibility: visible;
	transition: opacity 300ms ease, visibility 300ms;
}

#menu .settings {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 1em 0;
}

#level-selection, #pause-menu {
	display: flex;
	align-items: center;
	justify-content: center;
}

#level-selection .level {
	background-color: #171717;
	border-radius: 1em;
	padding: 1em;
	margin: .5em;
	width: 200px;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#level-selection .level .song-name, #level-selection .level .song-bpm {
	text-align: center;
	margin: 0;
}

#level-selection .level .song-bpm {
	margin-bottom: .5em;
}

#pause-menu {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.invisible {
	opacity: 0 !important;
	visibility: hidden !important;
}

.fade-out {
	opacity: 0 !important;
}

.hidden {
	display: none !important;
}

.centered {
	text-align: center;
}

h1 {
	font-size: 3em;
	margin: .5em;
}

button {
	border: none;
	padding: .5em 1em;
	font-size: 2em;
	font-weight: 600;
	color: #fff;
	border-radius: .5em;
	outline: none;
	background-color: #333;
	transition: background-color 300ms ease;
}

button:hover, button:focus {
	cursor: pointer;
	background-color: #444;
}

button.small {
	font-size: 1em;
	padding: .25em .5em;
}

.slider {
	display: flex;
}

.slider .label {
	margin: 0 .5em;
}

.slider input {
	display: inline-block;
	-webkit-appearance: none;
	appearance: none;
	width: 12em;
	height: 1.5em;
	background-color: #222;
	outline: none;
	border-radius: .5em;
}

.slider input::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 1.5em;
	height: 1.5em;
	border-radius: .5em;
	background-color: #333;
	transition: background-color 300ms ease;
}

.slider:hover input::-webkit-slider-thumb, .slider input:focus::-webkit-slider-thumb {
	background-color: #444;
}

.slider input::-moz-range-thumb {
	width: 1.5em;
	height: 1.5em;
	border-radius: .5em;
	background-color: #333;
	transition: background-color 300ms ease;
}

.slider:hover input::-moz-range-thumb, .slider input:focus::-moz-range-thumb {
	background-color: #444;
}

.slider:hover input {
	cursor: pointer;
}

.toggle {
	display: flex;
}

.toggle .label {
	margin: 0 .5em;
}

.toggle input {
	-webkit-appearance: none;
	appearance: none;
	width: 1.5em;
	height: 1.5em;
	outline: none;
	border-radius: .5em;
	background-color: #a33;
	transition: background-color 300ms ease;
}

.toggle:hover input, .toggle input:focus {
	background-color: #c55;
	cursor: pointer;
}

.toggle input:checked {
	background-color: #3a3;
}

.toggle:hover input:checked, .toggle input:focus:checked {
	background-color: #5c5;
}